*{ padding: 0; margin: 0;}
ul,ol,li{ list-style: none;}
html,body{ height: 100%;}
.media { *zoom: 1; }
.media:after { content: "\20"; display: block; height: 0; clear: both; }
.media .bd { vertical-align: baseline; display: table-cell; width: 10000px; *width: auto; *zoom: 1; }
.media .bd:after { content: "\20"; display: block; height: 0; clear: both; }
.media .bd:first-child { margin-top: 0; }
.media .bd:last-child { margin-bottom: 0; }
.media .bd img { display: block; }
.media .img { float: left; }
.media .img img { display: block; }
.media .imgext { float: right; }
.media .imgext img { display: block; }

/*layout*/
.pd_s{ padding: 5px;}
.pd_m{ padding: 10px;}
.pd_l{ padding: 20px;}

.mg_s{ margin: 5px;}
.mg_m{ margin: 10px;}
.mg_l{ margin: 20px;}

.mg_t_s{ margin-top: 5px;}
.mg_t_m{ margin-top: 10px;}
.mg_t_l{ margin-top: 20px;}

.mg_r_s{ margin-right: 5px;}
.mg_r_m{ margin-right: 10px;}
.mg_r_l{ margin-right: 20px;}

.mg_b_s{ margin-bottom: 5px;}
.mg_b_m{ margin-bottom: 10px;}
.mg_b_l{ margin-bottom: 20px;}

.mg_l_s{ margin-left: 5px;}
.mg_l_m{ margin-left: 10px;}
.mg_l_l{ margin-left: 20px;}

.pd_h_m{ padding-left: 10px; padding-right: 10px;}

/*content*/
.body_wrapper{ height: 100%;}
.site_nav{ float: left; width: 10%; min-width: 150px; height: 100%;}
.nav_list_wrap{ border-right: 1px solid #eee; height: 100%; box-sizing: border-box; background-color: #fafafa;}
.site_nav .nav_list_wrap{ padding: 10px;}
.site_nav .nav_list_wrap .tit{ background-color: #666; padding: 5px 10px; color: #fff;}
.site_nav .nav_list{ }
.site_nav .nav_list li{ text-indent: 1em; color: #666; font-size: 12px; line-height: 28px; background-color: #ccc;}
.site_nav .nav_list li li{ text-indent: 1.5em; background-color: #ddd; font-size: 11px;}
.site_nav .nav_list li li li{ text-indent: 2em; background-color: #eee; font-size: 10px;}
.site_nav .nav_list li li li li{ text-indent: 2.5em; background-color: #fff; font-size: 9px;}
.site_nav .nav_list>li{ border-bottom: 1px solid #bbb; padding: 0; font-size: 12px; color: #333;}
.site_nav .nav_list>li a{ width: 100%; display: block; text-decoration: none;}
.site_nav .nav_list a.link{ text-decoration: underline; color: #006633;}

.main_content{ float: left;  width: 90%;}
.main_content_inner{ padding: 10px;}
.main_content .title{ font-size: 18px; font-weight: bold; line-height: 24px; padding: 5px 10px;}
.slider_line{ font-size: 12px; margin: 10px 0;}
.slider_line .slider{ position: relative; width: 630px;}
.slider_line .slider .line{ height: 10px; border-radius: 10px; background-color: #ccc; position: relative;}
.slider_line .slider .line .handle{ height: 10px; border-radius: 10px; background-color: #f1f1f1; width: 0; position: absolute; left: 0; top: 0; cursor: move;}

/*color&background*/
body{ font-family: Verdana; font-size: 12px; line-height: 1.5;}
a{ color: #333; text-decoration: underline;}
.font_xl{ font-size: 18px;}
.font_l{ font-size: 16px;}
.font_m{ font-size: 14px;}
.font_s{ font-size: 12px;}
.font_xs{ font-size: 12px;}

/*media*/
@media (max-width: 1024px){
}
@media (max-width: 767px){
}
@media (max-width: 480px){
}
@media (max-width: 1024px) and (min-width: 768px) {
}
@media (max-width: 767px) and (min-width: 481px) {
}